<head>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'controls' %>
    <%= javascript_include_tag 'book' %>
    <%= javascript_include_tag 'sheet' %>
    <%= javascript_include_tag 'cell' %>
    <%= stylesheet_link_tag 'sheet' %>


</head>
<body>

<div id='auth_token' value="<%= form_authenticity_token %>">
  &nbsp;
</div>
<%= yield %>

</body>
